#user  nobody;
#worker_processes  auto;
worker_processes  {{ ansible_processor_count }};
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
    multi_accept on;
}

http {

    max_ranges 0;
    
    chunked_transfer_encoding off;
    
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_prefer_server_ciphers on;
    ssl_stapling on;
	
    include /etc/nginx/passenger.conf;

    include       mime.types;
    default_type  application/octet-stream;
    server_tokens off;
    keepalive_timeout  60;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers  "RC4:HIGH:!aNULL:!MD5:!kEDH";

    #gzip  on; 
    #gzip_disable "msie6";

    server {
       
	root /home/{{ app_user }}/git/cashpro/public/;
	
        passenger_enabled on;
        
        #rails_env development;
        rails_env production;

	ssl_certificate     /etc/nginx/ssl/nginx.crt;
        ssl_certificate_key /etc/nginx/ssl/nginx.key;

	#access_log /var/log/nginx/localhost.access_log;
      
        error_log /var/log/nginx/localhost.error_log info;

	listen 12000 ssl;
	listen 443 ssl;	listen 14281 ssl; listen 21481 ssl; listen 12681 ssl;
	listen 12981 ssl; listen 33283 ssl; listen 33383 ssl; listen 33483 ssl; listen 33583 ssl;
	listen 33683 ssl; listen 33783 ssl;      
	listen 57882 ssl; listen 57982 ssl; listen 58082 ssl; 	
	listen 32381 ssl; listen 12781 ssl; listen 14181 ssl; 
	listen 33883 ssl; listen 33983 ssl; listen 34083 ssl; listen 34183 ssl;
	listen 19481 ssl; listen 13281 ssl; listen 12581 ssl; listen 12381 ssl;		
	listen 19581 ssl; listen 19881 ssl; listen 12281 ssl; listen 33083 ssl;	
	listen 33183 ssl; listen 16181 ssl; listen 32183 ssl; listen 16281 ssl;
	listen 17481 ssl; listen 24081 ssl; listen 12481 ssl; listen 20781 ssl;
	listen 13381 ssl; listen 15882 ssl; listen 34383 ssl; listen 25281 ssl;
	listen 34483 ssl; listen 34583 ssl;
	#AU
	listen 15582 ssl; 
	listen 15682 ssl; 
	listen 34881 ssl; 
	listen 34981 ssl; 
	listen 35281 ssl; 
	listen 35481 ssl; 
	listen 35581 ssl; 
	listen 35681 ssl; 
	listen 35781 ssl; 
	listen 35881 ssl; 
	listen 35981 ssl; 
	listen 36081 ssl; 
	listen 36181 ssl; 
	listen 36281 ssl; 
	listen 36381 ssl; 
	listen 36481 ssl; 
	listen 36681 ssl; 
	listen 36781 ssl; 
	listen 36881 ssl; 
	listen 36981 ssl; 
	listen 37081 ssl; 
	listen 37181 ssl; 
	listen 37281 ssl; 
	listen 37381 ssl; 
	listen 37481 ssl; 
	listen 37581 ssl; 
	listen 40881 ssl; 
	listen 40981 ssl; 
	listen 41081 ssl; 
	listen 42081 ssl; 
	listen 42181 ssl; 
	listen 44081 ssl; 
	listen 60881 ssl; 
	listen 17282 ssl; 
	listen 17382 ssl; 
	listen 17482 ssl; 
	listen 17582 ssl; 
	listen 17682 ssl; 
	listen 17782 ssl; 
	listen 17882 ssl; 
	listen 17982 ssl; 
	listen 18082 ssl; 
	listen 18182 ssl; 
	listen 18282 ssl; 
	listen 18382 ssl; 
	listen 33582 ssl; 
	listen 18883 ssl; 
	listen 20983 ssl; 
	listen 21083 ssl; 
	listen 21183 ssl; 
	listen 21283 ssl; 
	listen 21383 ssl; 
	listen 21483 ssl; 
	listen 25183 ssl; 
	listen 26483 ssl; 
	listen 26583 ssl; 
	listen 26683 ssl; 
	listen 26783 ssl; 
	listen 26883 ssl; 
	listen 30783 ssl; 
	listen 30883 ssl; 
	listen 31483 ssl; 
	listen 31683 ssl;

	#NZ
	listen 15782 ssl; 
	listen 38281 ssl; 
	listen 38381 ssl; 
	listen 38481 ssl; 
	listen 38681 ssl; 
	listen 38781 ssl; 
	listen 38881 ssl; 
	listen 38981 ssl; 
	listen 39181 ssl; 
	listen 39281 ssl; 
	listen 41781 ssl; 
	listen 41881 ssl; 
	listen 44281 ssl; 
	listen 16982 ssl; 
	listen 17182 ssl; 
	listen 26983 ssl; 
	listen 27083 ssl;
	
	#SG
	listen 37981 ssl; 
	listen 38081 ssl; 
	listen 38181 ssl; 
	listen 40481 ssl; 
	listen 40581 ssl; 
	listen 42281 ssl; 
	listen 42381 ssl; 
	listen 42481 ssl; 
	listen 43081 ssl; 
	listen 43181 ssl; 
	listen 44181 ssl; 
	listen 44381 ssl; 
	listen 21583 ssl; 
	listen 21683 ssl; 
	listen 21783 ssl;
	
	#SHIT
	listen 25381 ssl;		
#	location / {
# 		add_header Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0"; 
#		fastcgi_hide_header "Pragma"; 
#		add_header Pragma "no-cache";  
#  	}

     }
        
}

